body {
    font: 13px normal, -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}

.hidden {
    display: none;
}

.noselect, .button {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.button {
    background-color: #0D47A1;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
}

.button:hover {
    background-color: #1565C0;
}

.button:active {
    background-color: #1976D2;
}

.button.disabled {
    background-color: #CCC;
    color: #333;
    cursor: default;
    pointer-events: none;
}

.textbox {
    margin: 8px 16px;
}

.textbox input {
    border: none;
    outline: 1px solid #CCC;
    padding: 8px;
    width: calc(100% - 18px);
}

.textbox label input {
    margin-top: 4px;
}

.textbox.inline {
    border-bottom: 1px solid #EEE;
    padding-bottom: 8px;
}

.textbox.inline label > div {
    display: inline-flex;
    width: 40%;
}

.textbox.inline label > input {
    display: inline-flex;
    margin-top: 0;
    padding: 4px 8px;
    width: calc(60% - 18px);
}


/* Containers */
.dock, .split-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.split-container > div {
    position: absolute;
}

.form {
    background-color: #FFF;
    box-shadow: 0 0 16px #555;
    position: absolute;
}

.form-header, .form-body, .form-footer {
    position: absolute;
    left: 0;
    right: 0;
}

.form-header {
    align-items: center;
    /* border-bottom: 1px solid #CCC; */
    display: flex;
    height: 42px;
    top: 0;
}

.form-header .text {
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
}

.form-header .buttons, .form-footer .buttons {
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
}

.form-header .button {
    background-color: transparent;
    color: #333;
}

.form-body {
    top: 43px;
    bottom: 43px;
}

.form-footer {
    /* border-top: 1px solid #CCC; */
    bottom: 0;
    height: 42px;
}

.form-footer .buttons .button {
    margin-right: 8px;
    width: 40px;
    text-align: center;
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}