body {
    font: 13px normal, -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}

.hidden {
    display: none;
}

.noselect, .button {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.button {
    background-color: #0D47A1;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
}

.button:hover {
    background-color: #1565C0;
}

.button:active {
    background-color: #1976D2;
}

.button.disabled {
    background-color: #CCC;
    color: #333;
    cursor: default;
    pointer-events: none;
}

.input {
    margin: 8px 16px;
}

.input input, .input select {
    border: 1px solid #CCC;
    outline: none;
    padding: 8px;
    width: calc(100% - 18px);
}

.input input[type="checkbox"] {
    border: none;
    transform: scale(1.5);
}

.input.inline input[type="checkbox"] {
    margin: 4px 2px;
    width: initial;
}

.input label input, .input label select {
    margin-top: 4px;
}

.input.inline {
    border-bottom: 1px solid #EEE;
    padding-bottom: 8px;
}

.input.inline label>div {
    display: inline-flex;
    width: 40%;
}

.input.inline label>input, .input.inline label>select {
    display: inline-flex;
    margin-top: 0;
    padding: 4px 8px;
    width: calc(60% - 18px);
}

.input.inline label>select {
     width: 60%;
}

/* Containers */
.dock {
    position: absolute;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: unset !important;
    width: unset !important;
}

.split-container, .dock-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.split-container>div, .dock-panel>div {
    position: absolute;
}

.split-container>div:nth-child(2), .dock-panel>div:nth-child(2n) {
    background-color: #EEE;
    cursor: col-resize;
    text-align: center;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.dock-panel>div.drag-enter {
    border: 2px dashed #0D47A1;
}

.form {
    background-color: #FFF;
    box-shadow: 0 0 16px #555;
    position: absolute;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-header, .form-body, .form-footer {
    position: absolute;
    left: 0;
    right: 0;
}

.form-header {
    align-items: center;
    /* border-bottom: 1px solid #CCC; */
    display: flex;
    height: 42px;
    top: 0;
}

.form-header .text {
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
}

.form-header .buttons, .form-footer .buttons {
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
}

.form-header .button {
    background-color: transparent;
    color: #333;
}

.form-body {
    top: 43px;
    bottom: 43px;
}

.form-footer {
    bottom: 0;
    height: 42px;
}

.form-footer .buttons .button {
    margin-right: 8px;
    width: 40px;
    text-align: center;
}

.dock-panel .form .form-body {
    bottom: 0;
}

.dock-panel .form .form-footer {
    display: none;
}

.dock-panel .form {
    box-shadow: none;
    z-index: unset !important;
}

.drag-panel {
    background-color: rgba(0, 0, 255, 0.15);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}