body {
    font: 1rem normal, -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

i.mdi {
    font-size: 24px;
}

.hidden {
    display: none;
}

.highlight {
    background-color: #FAFAFA !important;
}

.noselect, .button {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.button {
    background-color: #1976D2;
    border-radius: 24px;
    color: #FFF;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 32px;
    padding: 0 24px;
}

.button:hover {
    background-color: #1565C0;
}

.button:active {
    background-color: #1976D2;
}

.button.disabled {
    background-color: #CCC;
    color: #888;
    cursor: default;
    pointer-events: none;
}

.button.button-cancel {
    background-color: #CCC;
    color: #888;
}

.button.button-cancel:hover {
    background-color: #DDD;
    color: #333;
}

.input {
    margin: 8px 16px;
    position: relative;
}

.input input, .input select {
    border: 1px solid #CCC;
    background-color: #FFF;
    color: #333;
    outline: none;
    padding: 8px 0;
    width: 100%;
}

.input input {
    padding: 8px;
    width: calc(100% - 18px);
}

.input input[type="checkbox"] {
    border: none;
    transform: scale(1.5);
    float: right;
}

.input.inline input[type="checkbox"] {
    width: initial;
}

.input label input, .input label select {
    margin-top: 4px;
}

.input.inline {
    padding-bottom: 8px;
}

.input.inline label>div {
    display: inline-flex;
    width: 40%;
}

.input.inline label>input, .input.inline label>select {
    display: inline-flex;
    margin-top: 4px;
    padding: 4px 8px;
    width: calc(60% - 18px);
}

.input.inline label>select {
    width: 60%;
}

.input.textarea>label>div {
    margin-bottom: 4px;
}

.month-year label {
    display: flex;
    width: 100%;
}

.month-year select {
    width: calc(50% - 8px);
}

.month-year select:nth-child(2) {
    margin-left: 16px;
}

textarea {
    border: 1px solid #CCC;
    padding: 8px;
    resize: none;
    height: 120px;
    width: calc(100% - 18px);
}

/* Containers */

.dock {
    position: absolute;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: unset !important;
    width: unset !important;
}

.split-container, .dock-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.split-container>div, .dock-panel>div {
    position: absolute;
}

.split-container>div:nth-child(2), .dock-panel>div:nth-child(2n) {
    background-color: #EEE;
    cursor: col-resize;
    text-align: center;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.dock-panel>div.drag-enter {
    border: 2px dashed #0D47A1;
}

.view {
    background-color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.view-header, .view-body {
    position: absolute;
    left: 0;
    right: 0;
}

.view-header {
    align-items: center;
    background-color: #6200ee;
    color: #FFF;
    display: flex;
    font-size: 24px;
    height: 64px;
    top: 0;
}

.view-header i {
    color: #FFF;
}

.view-header .text {
    font-weight: bold;
}

.view-header .buttons {
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 16px;
    height: 64px;
}

.view-header .button {
    background-color: transparent;
    font-size: 1rem;
    padding: 0 8px 0 24px;
}

.view-body {
    top: 64px;
    bottom: 0;
}

.form {
    background-color: #FFF;
    color: #333;
    position: absolute;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-header, .form-body, .form-footer {
    position: absolute;
    left: 0;
    right: 0;
}

.form-header {
    align-items: center;
    display: flex;
    height: 42px;
    top: 0;
}

.form-header .text {
    font-size: 13px;
    font-weight: bold;
    margin-left: 16px;
}

.form-header .buttons, .form-footer .buttons {
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
}

.form-header .button {
    background-color: transparent;
    color: #C6CCDB;
    padding-right: 16px;
}

.form-body {
    top: 43px;
    bottom: 43px;
}

.form.no-footer .form-body {
    bottom: 0;
}

.form-footer {
    bottom: 0;
    height: 42px;
}

.form-footer .buttons .button {
    margin-right: 8px;
    width: 40px;
    text-align: center;
}

.form .input {
    padding: 4px 0;
}

.split-container .form {
    border: none;
    position: relative;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.split-container .form .form-header {
    background-color: #27282B;
}

.split-container .form .form-header .text {
    font-size: inherit;
    font-weight: normal;
}

.dock-panel .form .form-body {
    bottom: 0;
}

.dock-panel .form .form-footer {
    display: none;
}

.dock-panel .form {
    box-shadow: none;
    z-index: unset !important;
}

.drag-panel {
    background-color: rgba(0, 0, 255, 0.15);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.drag-panel .mdi {
    align-items: center;
    background-color: #1976D2;
    border-radius: 8px;
    color: #FFF;
    display: inline-flex;
    font-size: 48px;
    height: 64px;
    justify-content: center;
    position: absolute;
    width: 64px;
    z-index: 1000;
}

.mdi-arrow-expand-all {
    left: calc(50% - 24px);
    top: calc(50% - 24px);
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.menu-container {
    background-color: #212125;
    color: #C6CCDB;
}

.menu {
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    padding: 0 8px;
    position: relative;
    z-index: 1;
}

.menu:hover {
    background-color: #27282B;
}

.menu>div:nth-child(1) {
    align-items: center;
    display: flex;
    padding: 4px 8px;
    white-space: nowrap;
}

.menu>div:nth-child(1) i {
    display: inline-flex;
    margin-right: 16px;
}

.menu .menu>div:nth-child(1)>div:nth-child(1) {
    width: 28px;
}

.menu>div:nth-child(1)>div:nth-child(2) {
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 16px;
    height: 32px;
}

.menu>div:nth-child(2) {
    background-color: #212125;
    border: 1px solid #27282B;
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
}

.menu .menu {
    display: flex;
    padding: 0 92px 0 8px;
}

.menu .menu:hover {
    background-color: #27282B;
}

.menu.display>div:nth-child(2) {
    display: block;
}

.menu.separator {
    border-bottom: 1px solid #27282B;
}

.toolbar-container {
    background-color: #27282B;
    color: #C6CCDB;
    display: flex;
}

.toolbar {
    align-items: center;
    display: inline-block;
}

.toolbar .button {
    align-items: center;
    background-color: #27282B;
    color: #C6CCDB;
    display: inline-flex;
    padding: 0 8px;
    height: 40px;
}

.toolbar .button:hover {
    background-color: #212125;
    color: #C6CCDB;
}

.toolbar .button:active {
    background-color: #212125;
    color: #C6CCDB;
}

.toolbar .input {
    align-items: center;
    display: inline-flex;
    height: 32px;
    margin: 0;
}

.toolbar .input select {
    background-color: #EEE;
    padding: 4px 8px;
    width: 120px;
}

.tab, .tab-header, .tab-body, .tab-body>div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.tab-body>div {
    background-color: #FFF;
}

.tab .button>i {
    margin-right: 16px;
}

.tab-header {
    bottom: unset;
    height: 32px;
}

.tab.left .tab-header {
    bottom: 0;
    height: inherit;
    width: 32px;
}

.tab.left .tab-body {
    left: 32px;
    top: 0;
}

.tab.left .tab-header .button {
    display: block;
    height: inherit;
    padding: 8px 0;
    text-align: inherit;
    width: inherit;
}

.tab.left .tab-header .button i {
    display: block;
    margin-left: 4px;
    margin-right: 0;
}

.tab.left .tab-header .button div {
    padding: 8px 6px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.tab-header.full {
    display: flex;
}

.tab.left .tab-header.full {
    display: inherit;
}

.tab-header>div {
    border: 1px solid #CCC;
}

.tab-header .button {
    background-color: #FFF;
    border-radius: 0;
    color: #666;
    padding: 0 8px;
}

.tab-header.full>div {
    flex-basis: 0;
    flex-grow: 1;
}

.tab-header>div.selected {
    background-color: #EEE;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #EEE;
    color: #000;
    flex-basis: 0;
    flex-grow: 1;
    z-index: 1;
}

.tab-header>div.full:hover {
    background-color: #EEE;
}

.tab-header>div.full:active {
    background-color: #CCC;
}

.tab-body {
    background-color: #EEE;
    top: 34px;
}

/* Canvas */

canvas {
    height: 100%;
    width: 100%;
    outline: none;
}

.canvas {
    position: absolute;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: unset !important;
    width: unset !important;
}

/* List */

.list {
    cursor: pointer;
    padding: 8px 16px;
}

.list-container, .scroll-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

/* View */

.view.menu-show .view-menu {
    background-color: #FAFAFA;
    width: 320px;
}

.view.menu-show .view-header, .view.menu-show .view-body {
    left: 320px;
}

.view-menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.icon {
    display: inline-flex;
    vertical-align: middle;
}

.text {
    display: inline-flex;
}

img.icon {
    width: 64px;
}

/* Header */

.header {
    font-size: 18px;
}

.month-year>div, .combobox>div, label {
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
}

/* Table */

.table {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

table {
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td, th {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 4px 0;
    text-align: center;
    position: relative;
}

tr.row-0 th {
    background-color: #eee;
    position: sticky;
    top: -1px;
    z-index: 2;
}

tr.row-1 th {
    background-color: #eee;
    position: sticky;
    top: 26px;
    z-index: 2;
}

tr th:first-of-type {
    left: -1px;
    z-index: 3;
}

tbody tr td:first-of-type {
    background-color: #eee;
    color: #888;
    position: sticky;
    left: 0;
    min-width: 48px;
    max-width: 48px;
    padding: 0;
}

.table-fixed-column {
    background-color: #CCC;
    z-index: 3;
}

tr th.table-fixed-column {
    z-index: 4;
}

td input {
    border: none;
    outline: none;
    width: calc(100% - 8px);
}

td.table-cell-selected, .table-selected-bottom, .table-selected-top, .table-selected-left, .table-selected-right {
    background-color: #FFC;
}

.table-row-selected {
    background-color: #E3F2FD;
}

tbody tr td.table-row-selected:first-of-type {
    background-color: #ccc;
}

.table-sort {
    cursor: pointer;
}

th i.mdi {
    font-size: 14px;
}

th .header-tool {
    display: none;
    background-color: transparent !important;
    border: none !important;
    text-align: right;
    position: absolute !important;
    left: inherit !important;
    right: 0 !important;
    top: 0 !important;
    padding: 2px 4px !important;
}

th:hover .header-tool {
    display: block;
}