.main-container {
    padding: 16px;
}

.group-container {
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
}

.experience-container {
    padding: 16px 0;
    position: relative;
}

.experience-container>.group-editor {
    display: none;
}

.experience-container:hover {
    outline: 1px dashed #CCC;
}

.experience-container:hover>.group-editor {
    display: inherit;
}

.scroll-container {
    background-color: #FAFAFA;
}

.group-editor {
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0 4px;
}

.group-editor:hover {
    color: #FFF;
}

.list-title {
    font-weight: bold;
}

.internship-list {
    border: 1px solid #CCC;
    margin-bottom: 16px;
}

.internship-list .text {
    font-weight: bold;
    margin-left: 16px;
}

.internship-list>.container {
    margin-left: 80px;
    margin-top: -16px;
}

.view-header .button i {
    margin-right: 8px;
}

.profile-photo {
    padding: 0;
}

.profile-photo .text {
    font-weight: bold;
    vertical-align: top;
}

.profile-photo img {
    border: 1px solid #888;
    display: block;
    float: left;
    margin-right: 16px;
    width: 128px;
}

.banner .experience-container {
    margin-left: 144px;
}

.profile-container.preview {
    background-color: #FFF;
    border: 1px solid #CCC;
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
}

.profile-container.preview .group-container {
    border: none;
    padding: 0 16px;
}

.profile-container.preview .group-editor {
    display: none;
}

.profile-container.preview .experience-container:hover {
    outline: none;
}

.profile-container.preview .group-container>.header {
    color: #888;
    text-transform: uppercase;
}

@media screen and (max-width: 860px) {
    .view-header .buttons::before {
        content: "\F01D9";
        display: inline-block;
        font: normal normal normal 24px/1 "Material Design Icons";
        text-rendering: auto;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .view-header .buttons {
        width: 32px;
    }
    .view-header .buttons>div {
        background-color: #000;
        display: none;
        position: absolute;
        top: 64px;
        right: 0;
        z-index: 1;
    }
    .view-header .buttons:hover>div {
        display: block;
    }
    
    .profile-container.preview {
        padding: 16px;
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        padding: 0;
    }   

    .profile-container.preview {
        border: none;
    }

    .profile-photo {
        text-align: center;        
    }

    .profile-photo img {
        float: none;
        width: 128px;
        margin: 16px auto;
    }

    .profile-photo .text {
        font-size: 1.25rem;
    }

    .banner .experience-container {
        margin-left: 0;
        text-align: center;
    }

    .profile-container.preview {
        padding: 8px;
    }

    .internship-list {
        border: none;
        margin-bottom: 0;
    }

    .view-header .buttons {
        right: 0;
    }
}