.form {
    background-color: #212125;
    border: 1px solid #27282B;
    color: #C6CCDB;
    position: absolute;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    background-color: #27282B;
    color: #FFF;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 32px;
    padding: 0 16px;
}

.input input, .input select {
    border: 1px solid #27282B;
    background-color: #27282B;
    color: #FFF;
    outline: none;
    padding: 8px 0;
    width: calc(100% - 18px);
}