.booth {
    background-color: #CCC;
    position: absolute;
}

.booth:hover .button {
    display: block;
}

.booth-left {
    background-color: #88A;
    position: absolute;
}

.booth .button {
    display: none;
    margin: 100px;
    width: 100px;
}

.booth .icon {
    height: 48px;
    width: 48px;
    position: absolute;
}